@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


.font-fira {
  font-family: 'Fira Code';
}
.font-inter {
  font-family: 'Inter', sans-serif;
}
.container{
  width: 1024px;
  margin: auto;

}

@media (min-width: 1536px) {
    .container {
        max-width: 1024px !important;
        margin: auto;
    }
}
@media (max-width:600px ) {
    .mobile-none {
        display: none;
    }
    .w-100{
      width: 100% !important;
    }
    .mobile-top{
      padding-top: 100px;
    }
    .mobile-top-200{
      padding-top: 200px !important;
    }
    .mobile-mt{
      margin-top: 100px !important;
    }
    .mobile-mt-30{
      margin-top: 30px !important;
    }

}

