@import "tailwindcss";
body {
  background-image: url("./assets/bg.png");
  padding: 60px;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
